
	.schools-table tbody {
	    border: none;
	    text-align: center;
	}

	.schools-table thead {
	    display: none;
	}

	.schools-table tr {
	    display: inline-block;
	    zoom:1;*display: inline;
	    width: 15em;
	    margin: 0.5em 1%;
	    position: relative;
	    overflow: hidden;
	    border: 1px solid #aaa;
	    border-radius: 0.5em;
	    -moz-border-radius: 0.5em;
	    -webkit-border-radius: 0.5em;
	    vertical-align: top;
	    height: 6em;
	    text-align: left;
	    box-shadow: inset 0 -3px 5px #ccc;
	}

	.schools-table tr:hover {
	    box-shadow: inset 0 -3px 5px #aaa;
	}

	.schools-table td {
	    border: none;
	    display: inline-block;
	    zoom:1;*display: inline;
	}

  .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  }

  @keyframes spiın {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
